<main>
 <p id="notice"><%= flash[:notice] %></p>       
        
    <% if @review.errors.any? %>
     <%= @review.errors.count %> errors prohibited this obj from being saved:
      <ul>
        <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>    
        
  <div class="container">
   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="mt-3">New review</h2>
        <form action="/books" accept-charset="UTF-8" method="post">
          <input type="hidden" name="authenticity_token" value="euanJm1ZnqPSafYMeiMeLp0kaGQ8zlC8Tb6fDfS5TUDo5c3F1yLum7coItykOTPY4kX6sjIEQ5oLIaYwHZTIyQ" autocomplete="off" />
  
          <div class="form-group">
            <label for="review_title">Title</label>
            <input class="form-control" type="text" name="review[title]" id="review_title" />
          </div>
  
          <div class="form-group">
            <label for="review_body">Review</label>
            <textarea class="form-control" name="review[body]" id="review_body"></textarea>
          </div>
  
          <div class="form-group">
            <input type="submit" name="commit" value="Create Review" class="btn btn-success" data-disable-with="Create Review" />
          </div>
        </form>
    </div>
   </div>
  </div>        

</main>